.bodys {
  background-color: lightslategray;
}
.ok{
  margin-right: 28px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
 
}
/* .ok2{
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
 
} */
.link{
  text-decoration: none;
}
.active{
  color: #e6fcfc;
}
.linkk{
  text-decoration: none;
  border: 2px solid black;
  color: aqua;
  padding: 2px;
}
.linkk:hover{
  color: aliceblue;
}